.ProjectStatusCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border-radius: 8px;
  padding: 16px;
  min-height: 44px;
  box-shadow: 0px 1px 8px 0px var(--alpha-black-200);
  border: 1px solid var(--alpha-black-200);
}

.ProjectStatusCard--finished {
  background: rgba(68, 182, 0, 0.2);
}

.ProjectStatusCard--paused {
  background: #ffe9df;
}

.ProjectStatusCard--revoked {
  background: #f9d6dc;
}

.ProjectStatusCard__IconContainer {
  margin-right: 12px;
  display: flex;
  position: relative;
}
