.ProjectSheetStatusPill {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  gap: 10px;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 0 5px;
}

.ProjectSheetStatusPill--in_progress--hero,
.ProjectSheetStatusPill--pending--hero {
  color: var(--red-800);
  background: var(--red-200);
}

.ProjectSheetStatusPill--in_progress,
.ProjectSheetStatusPill--pending {
  color: var(--black-600);
  background: var(--black-200);
}

.ProjectSheetStatusPill--revoked {
  color: var(--red-800);
  background: var(--red-200);
}

.ProjectSheetStatusPill--finished {
  color: var(--green-900);
  background: var(--green-200);
}

.ProjectSheetStatusPill--paused {
  color: var(--orange-800);
  background: var(--orange-200);
}
