.ProjectSidebarForm {
  display: flex;
  padding: 8px 16px 16px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid var(--black-100);
  background: var(--black-200);
}

.ProjectSidebarForm__Field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ui.input.ProjectSidebarForm__Input,
.dcl.text-area > textarea.ProjectSidebarForm__Input {
  border-radius: 4px;
  border: 1px solid var(--black-300);
  background: #fff !important;
}

.ProjectSidebarForm__Actions {
  display: flex;
  gap: 23px;
}

.ProjectSidebarForm__Submit {
  padding: 4px 11px !important;
  border-radius: 8px !important;
  min-width: 54px !important;
  min-height: 34px !important;
  font-weight: var(--weight-semi-bold);
}

.ProjectSidebarForm__Cancel {
  font-weight: var(--weight-semi-bold) !important;
}
