.ProjectVerticalTab {
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 44px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--white-900);
  color: var(--black-800);
  font-size: 15px;
  font-style: normal;
  line-height: 24px;
  padding: 10px 16px;
  border: 1px solid var(--alpha-black-300);
  margin-bottom: 8px;
  cursor: pointer;
}

.ProjectVerticalTab--active {
  font-weight: var(--weight-semi-bold);
  background: var(--black-200);
  border: var(--black-200);
  cursor: default;
}

.ProjectVerticalTab svg {
  margin-left: 4px;
  vertical-align: middle;
}
