.ProjectViewFundingSection {
  display: flex;
  flex-direction: column;
}

.ProjectViewFundingSection__FundingBox {
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid var(--black-300);
  background: var(--white-900);
  box-shadow: 0 0 10px 0 rgba(115, 110, 125, 0.15);
  margin-bottom: 16px;
}

.ProjectViewFundingSection__Heading > .Text {
  margin-bottom: 0;
}

.ProjectViewFundingSection__VestingProgress {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .ProjectViewFundingSection__FundingBox {
    margin-bottom: 24px;
  }
}
