.ParticipatedProjectItem {
  width: 100% !important;
  position: relative;
  border: 1px solid var(--black-100) !important;
}

.ParticipatedProjectItem .ui.cards a.card:hover,
.ui.link.card:hover,
.ui.link.cards .card:hover,
a.ui.card:hover,
.ui.cards > .ui.card.link:hover,
.ui.card.link:hover {
  border: 1px solid var(--black-100) !important;
}

.ParticipatedProjectItem .content {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.ParticipatedProjectItem > .content::after {
  content: none !important;
}

.ParticipatedProjectItem:not(:last-child) {
  margin-bottom: 13px;
}

.ParticipatedProjectItem__Section {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  flex: 1 1 0;
  min-width: 0;
}

.ParticipatedProjectItem:visited .ParticipatedProjectItem__Title {
  color: var(--black-600);
}

.ParticipatedProjectItem__DetailsContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.ParticipatedProjectItem__Avatar {
  display: none;
}

.ParticipatedProjectItem:last-child {
  border-bottom: none;
}

.ParticipatedProjectItem__Title {
  margin: 0;
  padding-right: 20px;
  font-size: 15px;
  line-height: 26px;
  font-weight: var(--weight-semi-bold);
  letter-spacing: -0.2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ParticipatedProjectItem__GrantInfo {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ParticipatedProjectItem__Details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
}

.ParticipatedProjectItem__DetailsText {
  color: var(--black-600) !important;
  font-weight: var(--weight-normal) !important;
  line-height: 28px !important;
  text-transform: uppercase !important;
}

.ParticipatedProjectItem__DetailsStrongText {
  text-transform: uppercase !important;
  color: var(--black-700) !important;
}

.ParticipatedProjectItem__PillContainer {
  min-width: 80px;
}

.ParticipatedProjectItem__VestingSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ParticipatedProjectItem__VestingProgressContainer * {
  margin: 0 !important;
}

.ParticipatedProjectItem__VestingProgressContainer {
  min-width: 93px;
}

.ParticipatedProjectItem .dcl.back {
  transform: rotate(180deg);
}

@media (max-width: 390px) {
  .ParticipatedProjectItem__DetailsText {
    flex-direction: column !important;
    align-items: flex-start !important;
    line-height: 15px !important;
  }

  .ParticipatedProjectItem__DetailsStrongText {
    padding-left: 0 !important;
  }
}

@media (min-width: 768px) {
  .ParticipatedProjectItem {
    padding: 16px;
  }

  .ParticipatedProjectItem__DetailsStrongText {
    color: var(--black-600) !important;
  }

  .ParticipatedProjectItem__GrantInfo {
    max-width: unset;
  }
}

@media (min-width: 992px) {
  .ParticipatedProjectItem__Avatar {
    display: block;
    margin-right: 13px;
  }

  .ParticipatedProjectItem__Section {
    width: unset;
    justify-content: unset;
  }

  .ParticipatedProjectItem__VestingProgressContainer {
    min-width: 93px;
  }
}

.ParticipatedProjectItem__CategorySection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

@media (min-width: 992px) {
  .ParticipatedProjectItem__CategorySection {
    width: 267px;
  }
}
