name: Build and release

on: [push, pull_request]

jobs:
  build-release:
    permissions:
        id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Use Node.js 20.x
        uses: actions/setup-node@v1
        with:
          node-version: 20.x
      - name: Set package.json version
        uses: menduz/oddish-action@master
        with:
          deterministic-snapshot: true
          only-update-versions: true
      - name: Install
        run: npm ci
        env:
          HUSKY: 0
      - name: Build
        run: npm run build
        env:
          NODE_PATH: 'src'
          NODE_OPTIONS: '--max-old-space-size=6144'
      